.body {
  margin: 0;
  background-color: red;
}
.display {
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
}
.Christmas_tree {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}
.container_tree {
  position: absolute;
  left: 42%;
  bottom: 100px;
  width: 100px;
  height: 100px;
}

.forest {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.tree {
  width: 40px;
}
